@media (min-width: 992px) {
    .products .col-lg-1 {
        max-width: 50%;
        flex: none;
    }

    .products .prod {
        order: 3;
    }
}

@media (max-width:991px) {
    .navbar-nav {
        background-color: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 15px;
    }

    .navbar-collapse {
        margin-top: -5px;
    }
}

@media (max-width: 768px) {
    .about .info {
        margin-top: 20px;
    }

    .about .info.deflit {
        margin-bottom: 30px;

    }

    .products {
        text-align: center;
    }

    .products .prod {
        text-align: center;
    }

    .products img {
        text-align: center;
        float: none;
    }

    .products img.image {
        float: none;
    }
}

@media (min-width: 768px) {
    .products .num {
        order: 2;
    }
}

@media (max-width: 575px) {
    .Part {
        text-align: center;
    }

    .Part img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width:550px) {
    .products img {
        width: 100%;
        max-width: 300px;
    }

    .copyright {
        font-size: 10px;

    }

    .footer .foot p {
        font-size: 10px;

    }

    .subscribe input {
        width: 80%;
        margin-bottom: 20px;

    }

    .subscribe button {
        width: 80%;
        display: block;
        margin: 0 auto 20px;
    }

    .footer .foot {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 15px;
    }

    .header p {
        font-size: 10px;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .about .info h3 {
        margin-left: 5px;
        font-size: 18px;
    }

    .about .info p {
        font-size: 15px;
    }
}