body{
    font-family: 'Tajawal', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    margin-left: 25px;
}
.navbar-light .navbar-nav .nav-link.link {
    margin-left: 0;
}
.products img {
    float: right;
}
.products img.image {
    float: left;
}
.footer .location img {
    margin-left: 10px;
}