/* start globle*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.overlay {
    background-color: rgba(16, 41, 56, 0.9);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/* end globle*/
/* start navbar*/
.navbar {
    padding: 0;
    background-color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    height: 55px;
}
.navbar img {
    height: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: #102938;
    margin-right: 25px;
    padding: 15px 3px;
    text-transform: capitalize;
}
.navbar-light .navbar-nav .nav-link.link {
    margin-right: 0;
}
.navbar-light .navbar-nav .active,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #E8C43A;
}
/* end navbar */
/* start header */
.header {
    background-image: url(../images/xoROM5oN0M.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
    padding: 0;
    margin: 0;
}
.header img {
    height: 100px;
    margin-top: 70px;
}
.header h1 {
    padding-top: 40px;
    text-transform: uppercase;
    color: #E8C43A;
    font-size: 30px;
}
.header p {
    padding-top: 50px;
    padding-bottom: 225px;
    font-size: 20px;
}
/* end header */
/* start about us */
.about-us {
    margin: 70px 0;
}

.about-us h2 {
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #E8C43A;
}
.about-us p {
    margin-top: 50px;
    color: #333;
}
/* end about us */
/* start about */
.about {
    background-image: url(../images/PLAuRKKrmX.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #FFF;

}
.about .info {
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.about .info:hover {
    box-shadow: 0 0 15px 1px #E8C43A;
    border-radius: 10px;
    transform: scale(0.9);
}
.about .info.deflit {
    margin-bottom: 50px;
}
.about .info img {
    width: 50px;
    height: 50px;
}
.about .info h3 {
    color: #E8C43A;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: normal;
}
.about .info p {
    margin-top: 25px;
    color: #c3c0c0;
}
.about .info p.test {
    line-height: 3;
}
/* end about */
/* start products */
.products {
    padding: 60px 0;
    overflow: hidden;
}
.products h2 {
    color: #E8C43A;
    padding-bottom: 60px;
}
.products .prod {
    padding-bottom: 80px;
}
.products .prod h3 {
    color: #E8C43A;
    padding: 10px;
}
.products .prod p {
    color: #333;
}
.products .prod span {
    display: inline-block;
    padding-bottom: 20px;
}
.products .prod button {
    padding: 5px 20px;
    background-color: #E8C43A;
    border: 1px solid #E8C43A;
}
.products img {
    width: 300px;
    min-height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 15px 8px #E8C43A;
    margin-bottom: 60px;
    float: left;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.products .scrol:hover img {
    transform: scale(1.3);
}
.products img.image {
    float: right;
}
/* end products */
/* start Parteners */
.Parteners {
    background-color: #102938;
    color: #FFF;
    padding: 50px 0 0;
}
.Parteners img {
    width: 50px;
    height: 50px;
}
.Parteners h3 {
    color: #E8C43A;
    font-size: 40px;
    margin-top: 20px;
}
.Parteners p {
    font-size: 10px;
    margin-bottom: 50px;
}
/* end Parteners */
/* start Part */
.Part {
    margin: 50px 0 0;
}
.Part img {
    display: inline-block;
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    object-fit: contain;
}
/* end Part */
/* start subscribe */
.subscribe {
    background-image: url(../images/PLAuRKKrmX.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
}
.subscribe h2 {
    color: #E8C43A;
    padding-top: 40px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.subscribe p {
    font-size: 10px;
    text-transform: capitalize;
}
.subscribe input {
    padding: 12px 30px;
    width: 500px;
    border-radius: 25px;
    border: 0;
}
.subscribe button {
    margin-bottom: 50px;
    border-radius: 25px;
    border: 0;
    padding: 8px 30px;
    background-color: #E8C43A;
    margin-left: -148px;
}
/* end subscribe */
/* start contact */
.contact {
    position: relative;
    height: 650px;
}
.contact iframe {
    width: 100%;
    margin-bottom: 0;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.contact .form {
    position: relative;
    background: #102938;
    color: #FFF;
    width: 300px;
    padding: 30px;
    top: 150px;
    right: 0px;
}
.contact .form h6{
    color: #E8C43A;
    margin-bottom: 20px;
}
.contact .form input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background-color: #283F4C;
    padding: 5px 10px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
}
.contact .form textarea{
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    background-color: #283F4C;
    padding: 5px 10px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
}
.contact .form button{
    border: 0;
    padding: 8px 30px;
    background-color: #E8C43A;
    text-transform: capitalize;
}
/* end contact */
/* start footer */
.footer {
    background-color: #102938;
    color: #FFF;
    padding: 50px 0 0;
}
.footer .foot {
    margin-bottom: 50px;
}
.footer .foot .logo {
    width: 150px;
    height: 75px;
}
.footer .foot p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 2;
}
.footer .foot .icons {
    margin-right: 20px;
}
.footer .contact h4 {
    color: #E8C43A;
    margin-bottom: 30px;
}
.footer .contact span {
    line-height: 4.5;
    font-size: 10px;
    display: block;
}
.footer .contact span a{
    text-decoration: none;
    color: #FFF;
}
.footer .location h4 {
    color: #E8C43A;
    margin-bottom: 30px;
}
.footer .location img {
    display: inline-block;
    margin-right: 10px;
}
.footer .location p {
    font-size: 10px;
    line-height: 2;
}
.footer hr {
    border: 1px solid #E8C43A;
}
.copyright {
    margin-top: 0;
    padding-bottom: 20px;
}
/* end footer */
/* start loading screen */
.loading{
    background-color: #FFF;
    color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.loading .load{
    position: relative;
    top: 40%;
}
.loading img{
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 2px 2px 20px 1px #E8C43A;
    -moz-box-shadow: 2px 2px 20px 1px #E8C43A;
    -o-box-shadow: 2px 2px 20px 1px #E8C43A;
    box-shadow: 2px 2px 20px 1px #E8C43A;
    object-fit: contain
}
.loading img:hover{
    transform: scale(1.3);
}
.loading p{
    margin-top: 50px;
}
/* end loading screen */
/* start faqs */
.faqs{
    padding: 80px 0 60px;
}
.faqs h2{
    color: #E8C43A;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.faqs .card{
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 1px #0a080621;
}
.faqs .card-header{
    background-color: #E8C43A;
}
.faqs .card-header a{
    color: #000;
    text-decoration: none;
}
.faqs .main{
    background-color: #f3f3f3;
}
.faqs .card-body p{
    font-size: 20px;
}
.faqs .card-body a{
    color: #000;
    text-decoration: none;
}
.faqs svg{
    color: #102938;
    font-size: 25px;
    font-weight: bold;
}
/* end faqs */
/* start terms */
.terms{
    padding: 60px 0 70px;
}
.terms h2{
    color: #E8C43A;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.terms h5{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.terms p{
    margin-bottom: 30px;
    font-size: 18px;
}
/* end terms */
/* start privacy policy */
.privacy{
    padding: 60px 0 70px;
}
.privacy h2{
    color: #E8C43A;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.privacy h5{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.privacy p{
    margin-bottom: 30px;
    font-size: 18px;
}
/* end privacy policy */